__pycache__/
*.pyc
*.pyo
*.pyd

media/profile_docs/*

media/project/*

#media/profile_docs/**
#media/project/**

# Carpeta de migraciones (dentro de app)
#portafolio/app/migrations/

# Base de datos SQLite
db.sqlite3