__pycache__/
*.pyc
*.pyo
*.pyd

media/profile_docs/*.pdf
!media/profile_docs/.gitkeep

media/projects/**

# Carpeta de migraciones (dentro de app)
#portafolio/app/migrations/

# Base de datos SQLite
db.sqlite3