
{% extends 'base/base.html' %}
{% load static %}
{% block title %}Medicos{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'app/css/catcreate.css' %}">
<div class="content-area">
    <div class="header">
        <div class="stats-grid">
            <div class="stat-card">
                <form method="post" enctype="multipart/form-data" novalidate>
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}